*{
    margin: 0;
    padding: 0;
 

}
body{
    overflow-x: hidden;
}


div.main{
    width: 500px;
    margin: 0 auto ;
    color: white;
    padding-top: 30px;
    padding-bottom: 40px;
 
}
div.signIn{
    padding-top: 100px;
    background-size: 150%;
}


.bg{
    background: url("https://previews.123rf.com/images/yavdat1/yavdat11804/yavdat1180400183/100440442-stethoscope-with-clipboard-and-laptop-on-desk.jpg");
    background-size: 110%;
   
}
.register h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    color: rgba(67, 184, 67, 0.979);
}
div.register{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    color: #fff;
}
form#register{
    margin: 40px;
}

.register input{
    width: 300px;
    border: 1px solid #ddd;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);

}
.register input#submit{
    width: 200px;
    border: 1px solid #ddd;
    outline: 0;
    padding: 7px;
    font-weight: 600;
    border: none;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    background-color: rgba(243, 177, 11, 0.986);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

}
.register input h2{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.error{
    color: red;
}

@media(max-width:600px){
    div.main{
        width: 100%;
        
    }
    .register input{
        width: 100%;
    }
    
}